
.icon-arrow-right:before { content: '\e900'; } /* '' */
.icon-8x8:before { content: '\e901'; } /* '' */
.icon-arrow-down:before { content: '\e902'; } /* '' */
.icon-user-add, user-plus:before { content: '\e903'; } /* '' */
.icon-sort, arrow-up-down:before { content: '\e904'; } /* '' */
.icon-arrow-left-full:before { content: '\e905'; } /* '' */
.icon-arrow-right-full:before { content: '\e906'; } /* '' */
.icon-arrow-down-full:before { content: '\e907'; } /* '' */
.icon-arrow-up-full:before { content: '\e908'; } /* '' */
.icon-arrow-diagonal-up:before { content: '\e909'; } /* '' */
.icon-arrow-diagonal-down:before { content: '\e90a'; } /* '' */
.icon-angle-left:before { content: '\e90b'; } /* '' */
.icon-angle-right:before { content: '\e90c'; } /* '' */
.icon-angle-down:before { content: '\e90d'; } /* '' */
.icon-angle-up:before { content: '\e90e'; } /* '' */
.icon-arrow-first:before { content: '\e90f'; } /* '' */
.icon-arrow-last:before { content: '\e910'; } /* '' */
.icon-angle-double-right:before { content: '\e911'; } /* '' */
.icon-expand:before { content: '\e912'; } /* '' */
.icon-minimize:before { content: '\e913'; } /* '' */
.icon-arrow-left-right, swap:before { content: '\e914'; } /* '' */
.icon-dialpad:before { content: '\e915'; } /* '' */
.icon-launcher:before { content: '\e916'; } /* '' */
.icon-dots-horizontal:before { content: '\e917'; } /* '' */
.icon-dots-horizontal-circle:before { content: '\e918'; } /* '' */
.icon-dots-vertical:before { content: '\e919'; } /* '' */
.icon-dashboard:before { content: '\e91a'; } /* '' */
.icon-minus:before { content: '\e91b'; } /* '' */
.icon-minus-circle:before { content: '\e91c'; } /* '' */
.icon-plus:before { content: '\e91d'; } /* '' */
.icon-close, reject:before { content: '\e91e'; } /* '' */
.icon-close-circle:before { content: '\e91f'; } /* '' */
.icon-check:before { content: '\e920'; } /* '' */
.icon-check-circle:before { content: '\e921'; } /* '' */
.icon-check-circle-o:before { content: '\e922'; } /* '' */
.icon-check-square:before { content: '\e923'; } /* '' */
.icon-square-o:before { content: '\e924'; } /* '' */
.icon-circle:before { content: '\e925'; } /* '' */
.icon-circle-o:before { content: '\e926'; } /* '' */
.icon-loader-circle:before { content: '\e927'; } /* '' */
.icon-clock:before { content: '\e928'; } /* '' */
.icon-clock-o:before { content: '\e929'; } /* '' */
.icon-stopwatch-o:before { content: '\e92a'; } /* '' */
.icon-exclamation-circle:before { content: '\e92b'; } /* '' */
.icon-exclamation-circle-o:before { content: '\e92c'; } /* '' */
.icon-circle-double-o, record:before { content: '\e92d'; } /* '' */
.icon-question:before { content: '\e92e'; } /* '' */
.icon-question-circle:before { content: '\e92f'; } /* '' */
.icon-question-circle-o:before { content: '\e930'; } /* '' */
.icon-info-circle:before { content: '\e931'; } /* '' */
.icon-phone:before { content: '\e932'; } /* '' */
.icon-phone-transfer:before { content: '\e933'; } /* '' */
.icon-phone-connect-o:before { content: '\e934'; } /* '' */
.icon-phone-hangup, hangup:before { content: '\e935'; } /* '' */
.icon-phone-circle:before { content: '\e936'; } /* '' */
.icon-phone-desk:before { content: '\e937'; } /* '' */
.icon-chat:before { content: '\e938'; } /* '' */
.icon-chat-o:before { content: '\e939'; } /* '' */
.icon-chat-transfer:before { content: '\e93a'; } /* '' */
.icon-chat-circle:before { content: '\e93b'; } /* '' */
.icon-email, envelope:before { content: '\e93c'; } /* '' */
.icon-email-circle, envelope-circle:before { content: '\e93d'; } /* '' */
.icon-video:before { content: '\e93e'; } /* '' */
.icon-volume-up:before { content: '\e93f'; } /* '' */
.icon-hold:before { content: '\e940'; } /* '' */
.icon-lines-horizontal:before { content: '\e941'; } /* '' */
.icon-mic:before { content: '\e942'; } /* '' */
.icon-mic-slash, mute:before { content: '\e943'; } /* '' */
.icon-join, merge:before { content: '\e944'; } /* '' */
.icon-face-neutral-o:before { content: '\e945'; } /* '' */
.icon-trash-can:before { content: '\e946'; } /* '' */
.icon-computer-o:before { content: '\e947'; } /* '' */
.icon-screenshare:before { content: '\e948'; } /* '' */
.icon-screenshare-o:before { content: '\e949'; } /* '' */
.icon-enevelope-o:before { content: '\e94a'; } /* '' */
.icon-copy:before { content: '\e94b'; } /* '' */
.icon-leave, log-out:before { content: '\e94c'; } /* '' */
.icon-note:before { content: '\e94d'; } /* '' */
.icon-share:before { content: '\e94e'; } /* '' */
.icon-note-o:before { content: '\e94f'; } /* '' */
.icon-list:before { content: '\e950'; } /* '' */
.icon-survey, clipboard-bar-o:before { content: '\e951'; } /* '' */
.icon-pencil:before { content: '\e952'; } /* '' */
.icon-filter:before { content: '\e953'; } /* '' */
.icon-search:before { content: '\e954'; } /* '' */
.icon-download:before { content: '\e955'; } /* '' */
.icon-columns:before { content: '\e956'; } /* '' */
.icon-cloud-bars:before { content: '\e957'; } /* '' */
.icon-bell:before { content: '\e958'; } /* '' */
.icon-calendar:before { content: '\e959'; } /* '' */
.icon-eye:before { content: '\e95a'; } /* '' */
.icon-star-o:before { content: '\e95b'; } /* '' */
.icon-star:before { content: '\e95c'; } /* '' */
.icon-broom, clear:before { content: '\e95d'; } /* '' */
.icon-translate:before { content: '\e95e'; } /* '' */
.icon-play:before { content: '\e95f'; } /* '' */
.icon-play-circle-hangup, play-circle-end:before { content: '\e960'; } /* '' */
.icon-play-circle:before { content: '\e961'; } /* '' */
.icon-phone-o:before { content: '\e962'; } /* '' */
.icon-paperclip:before { content: '\e963'; } /* '' */
.icon-table:before { content: '\e964'; } /* '' */
.icon-bar-graph:before { content: '\e965'; } /* '' */
.icon-donut:before { content: '\e966'; } /* '' */
.icon-flowchart:before { content: '\e967'; } /* '' */
.icon-pdf:before { content: '\e968'; } /* '' */
.icon-lock:before { content: '\e969'; } /* '' */
.icon-gear:before { content: '\e96a'; } /* '' */
.icon-gear-o:before { content: '\e96b'; } /* '' */
.icon-headset:before { content: '\e96c'; } /* '' */
.icon-user:before { content: '\e96d'; } /* '' */
.icon-users:before { content: '\e96e'; } /* '' */
.icon-users-view:before { content: '\e96f'; } /* '' */
.icon-user-busy, user-minus:before { content: '\e970'; } /* '' */
.icon-directory:before { content: '\e971'; } /* '' */
.icon-card:before { content: '\e972'; } /* '' */
.icon-rocket:before { content: '\e973'; } /* '' */
.icon-faq, mortar-board:before { content: '\e974'; } /* '' */
.icon-briefcase:before { content: '\e975'; } /* '' */
.icon-world:before { content: '\e976'; } /* '' */
.icon-loader-circle-spin:before { content: '\e977'; } /* '' */
.icon-toggle-on:before { content: '\e978'; } /* '' */
.icon-toggle-off:before { content: '\e979'; } /* '' */
.icon-music-note, audio:before { content: '\e97a'; } /* '' */
.icon-volume-off:before { content: '\e97b'; } /* '' */
.icon-backward:before { content: '\e97c'; } /* '' */
.icon-forward:before { content: '\e97d'; } /* '' */
.icon-eval, evaluation:before { content: '\e97e'; } /* '' */
.icon-calibrated:before { content: '\e97f'; } /* '' */
.icon-live-monitor:before { content: '\e980'; } /* '' */
.icon-camera:before { content: '\e981'; } /* '' */
.icon-refresh:before { content: '\e982'; } /* '' */
.icon-resize:before { content: '\e983'; } /* '' */
.icon-upload:before { content: '\e984'; } /* '' */
.icon-best-fit:before { content: '\e985'; } /* '' */
.icon-col-graph:before { content: '\e986'; } /* '' */
.icon-face-smile-o:before { content: '\e987'; } /* '' */
.icon-face-frown-o:before { content: '\e988'; } /* '' */
.icon-bullhorn:before { content: '\e989'; } /* '' */
.icon-voicemail:before { content: '\e98a'; } /* '' */
.icon-feedback:before { content: '\e98b'; } /* '' */
.icon-8x8-square:before { content: '\e98c'; } /* '' */
.icon-check-double:before { content: '\e98d'; } /* '' */
.icon-missed-call:before { content: '\e98e'; } /* '' */
.icon-chat-double-o:before { content: '\e98f'; } /* '' */
.icon-chat-group:before { content: '\e990'; } /* '' */
.icon-envelope-check:before { content: '\e991'; } /* '' */
.icon-audiowave:before { content: '\e992'; } /* '' */
.icon-rewind-10:before { content: '\e993'; } /* '' */
.icon-forward-10:before { content: '\e994'; } /* '' */
.icon-park:before { content: '\e995'; } /* '' */
.icon-transcription:before { content: '\e996'; } /* '' */
.icon-play-o:before { content: '\e997'; } /* '' */
.icon-user-group-line:before { content: '\e998'; } /* '' */
.icon-lighbulb:before { content: '\e999'; } /* '' */
.icon-fax:before { content: '\e99a'; } /* '' */
.icon-linkedin:before { content: '\e99b'; } /* '' */
.icon-salesforce:before { content: '\e99c'; } /* '' */
.icon-skype:before { content: '\e99d'; } /* '' */
.icon-square-minus:before { content: '\e99e'; } /* '' */
.icon-square:before { content: '\e99f'; } /* '' */
.icon-cellphone:before { content: '\e9a0'; } /* '' */
.icon-envelope-exclamation:before { content: '\e9a1'; } /* '' */
.icon-video-off:before { content: '\e9a2'; } /* '' */
.icon-hold-circle-o:before { content: '\e9a3'; } /* '' */
.icon-square-circle-o:before { content: '\e9a4'; } /* '' */
.icon-calendar-plus:before { content: '\e9a5'; } /* '' */
.icon-calendar-pencil:before { content: '\e9a6'; } /* '' */
.icon-calendar-check:before { content: '\e9a7'; } /* '' */
.icon-play-circle-o:before { content: '\e9a8'; } /* '' */
.icon-directory-o:before { content: '\e9a9'; } /* '' */
.icon-mic-o:before { content: '\e9aa'; } /* '' */
.icon-mic-slash-o, mute-o:before { content: '\e9ab'; } /* '' */
.icon-plus-circle:before { content: '\e9ac'; } /* '' */
.icon-close-circle-o:before { content: '\e9ad'; } /* '' */
.icon-link:before { content: '\e9ae'; } /* '' */
.icon-phone-arrow-in:before { content: '\e9af'; } /* '' */
.icon-phone-arrow-out:before { content: '\e9b0'; } /* '' */
.icon-user-dash:before { content: '\e9b1'; } /* '' */
.icon-printer:before { content: '\e9b2'; } /* '' */
.icon-arrow-left:before { content: '\e9b3'; } /* '' */
.icon-arrow-up:before { content: '\e9b4'; } /* '' */
.icon-camera-back:before { content: '\e9b5'; } /* '' */
.icon-camera-refresh:before { content: '\e9b6'; } /* '' */
.icon-camera-slash:before { content: '\e9b7'; } /* '' */
.icon-ear:before { content: '\e9b8'; } /* '' */
.icon-meetings:before { content: '\e9b9'; } /* '' */
.icon-dots-vertical-double:before { content: '\e9ba'; } /* '' */
.icon-paper-plane:before { content: '\e9bb'; } /* '' */
.icon-sliders:before { content: '\e9bc'; } /* '' */
.icon-chat-double:before { content: '\e9bd'; } /* '' */
.icon-resource:before { content: '\e9be'; } /* '' */
.icon-home:before { content: '\e9bf'; } /* '' */
.icon-hashtag:before { content: '\e9c0'; } /* '' */
.icon-arrow-up-down2:before { content: '\e9c1'; } /* '' */
.icon-undo:before { content: '\e9c2'; } /* '' */
.icon-grand-total:before { content: '\e9c3'; } /* '' */
.icon-line-graph:before { content: '\e9c4'; } /* '' */
.icon-trend:before { content: '\e9c5'; } /* '' */
.icon-user-group:before { content: '\e9c6'; } /* '' */
.icon-info-circle-o:before { content: '\e9c7'; } /* '' */
.icon-journey:before { content: '\e9c8'; } /* '' */
.icon-crown:before { content: '\e9c9'; } /* '' */
.icon-minus-circle-o:before { content: '\e9ca'; } /* '' */
.icon-plus-circle-o:before { content: '\e9cb'; } /* '' */
.icon-view-distance:before { content: '\e9cc'; } /* '' */
.icon-widescreen:before { content: '\e9cd'; } /* '' */
.icon-attendant:before { content: '\e9ce'; } /* '' */
.icon-cloud-key:before { content: '\e9cf'; } /* '' */
.icon-csv:before { content: '\e9d0'; } /* '' */
.icon-dropbox:before { content: '\e9d1'; } /* '' */
.icon-excel:before { content: '\e9d2'; } /* '' */
.icon-extension:before { content: '\e9d3'; } /* '' */
.icon-google-drive:before { content: '\e9d4'; } /* '' */
.icon-group-call-pickup:before { content: '\e9d5'; } /* '' */
.icon-handbell:before { content: '\e9d6'; } /* '' */
.icon-hear:before { content: '\e9d7'; } /* '' */
.icon-hourglass:before { content: '\e9d8'; } /* '' */
.icon-inactive:before { content: '\e9d9'; } /* '' */
.icon-info:before { content: '\e9da'; } /* '' */
.icon-key:before { content: '\e9db'; } /* '' */
.icon-okta:before { content: '\e9dc'; } /* '' */
.icon-onedrive:before { content: '\e9dd'; } /* '' */
.icon-onelogin:before { content: '\e9de'; } /* '' */
.icon-organization:before { content: '\e9df'; } /* '' */
.icon-ring-group:before { content: '\e9e0'; } /* '' */
.icon-saml:before { content: '\e9e1'; } /* '' */
.icon-template:before { content: '\e9e2'; } /* '' */
.icon-windows:before { content: '\e9e3'; } /* '' */